<!-- header area four start -->
<div class="header-area-four">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 remove-col-padding">
                <div class="promotional-banner-area-two right"><!-- promotional banner area -->
                    <div class="img-wrapper promotionsl-bg-1">
                        <div class="hover">
                            <div class="inner-wrapper">
                                <span class="subtitle "><%= __('SPRING - SUMMER 2021')%></span>
                                <h2 class="title "><%= __('New Arrivals')%></h2>
                                <p class="wow fadeInDown"><%= __('Stock up on sportswear and limited edition collections on our awesome mid-season sale.')%></p>
                                <div class="btn-wrapper wow fadeInDown">
                                    <a href="/products" class="boxed-btn"><%= __('view collections')%></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.promotional banner area -->       
            </div>
            <div class="col-lg-5 remove-col-padding">
                <a href="#">
                    <div class="promotional-banner-area-three"><!-- promotional banner area -->
                        <div class="img-wrapper promotionsl-bg-2">
                            <div class="hover">
                                <div class="inner-wrapper">
                                    <h2 class="title ">- 50%</h2>
                                    <span class="subtitle  wow fadeInDown"><%= __('BACK IN STOCK')%></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //.promotional banner area -->  
                </a> 
            </div>
        </div>
    </div>
</div>
<!-- header area four end -->


<!-- promotional area five start -->
<div class="promotional-area-five">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 remove-col-padding">
                <div class="promotional-banner-area-six"><!-- promotinal-banner-area-six -->
                    <div class="img-wrapper">
                        <img src="/home/img/promotional/10.jpg" alt="promotional image">
                        <div class="hover">
                            <div class="hover-inner">
                                <div class="top-content wow bounceIn">
                                    <div class="left">
                                        <h2 class="title">50</h2>
                                    </div>
                                    <div class="right">
                                        <span class="top">%</span>
                                        <span class="bottom">Off</span>
                                    </div>

                                </div>
                                <div class="bottom-content wow fadeInDown">
                                    <h4 class="title">ACCESSORIES</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.promotinal-banner-area-six -->
            </div>
            <div class="col-lg-6 remove-col-padding">
                <div class="promotional-banner-area-six"><!-- promotinal-banner-area-six -->
                    <div class="img-wrapper">
                        <img src="/home/img/promotional/11.jpg" alt="promotional image">
                        <div class="hover">
                            <div class="hover-inner">
                                <div class="top-content wow bounceIn">
                                    <div class="left">
                                            <h2 class="title">70</h2>
                                    </div>
                                    <div class="right">
                                        <span class="top">%</span>
                                        <span class="bottom">Off</span>
                                    </div>

                                </div>
                                <div class="bottom-content wow fadeInDown">
                                    <h4 class="title">Ladies Bag</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.promotinal-banner-area-six -->
            </div>
        </div>
    </div>
</div>
<!-- promotional area five end -->
